@font-face {
  font-family: "Coming Soon";
  src: url("./fonts/ComingSoon-Regular.ttf") format("truetype");
}
body {
  background: var(--G, linear-gradient(180deg, #333 0%, #030303 100%));
}
.App {
  width: 100%;
  margin-right: auto;
}

.solar-system-img {
  width: 100%;
}
.solar-system-img-container {
  position: relative;
}

.planets-buttons-img {
  width: 100%;
}

.menu-container {
  position: relative;
  height: 24rem;
}

input.visualization {
  position: absolute;
  opacity: 0;
}

.structure:has(input:checked) {
  background: linear-gradient(#792d21, #792d21) padding-box,
    rgba(121, 45, 33, 1) linear-gradient(60deg, #792d21, #ffffff) border-box;
}
.structure {
  cursor: pointer;
  position: absolute;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid transparent;
  background: linear-gradient(#2b2b2b, #2b2b2b) padding-box,
    linear-gradient(60deg, #792d21, #ffffff) border-box;
  color: azure;
  text-align: center;
  font-size: 1rem;
  font-family: "Coming Soon";
}

.planet-stroke {
  cursor: pointer;
  position: absolute;
  width: 15%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  color: azure;
  text-align: center;
  font-size: 1rem;
  font-family: "Coming Soon";
  box-shadow: 0 0 4px 2px #792d21, 0 0 6px 4px #ffffff; /* outer cyan */
}
.planetName {
  display: flex;
  padding-top: 35%;
  justify-content: center;
}

.text {
  margin: 80px;
  font-family: "Coming Soon";
  position: relative;
  color: #f5f5f5;
}

.choose {
  top: -1.2rem;
  position: absolute;
  padding-left: 40px;
  padding-right: 40px;
  right: 1px;
  height: 80px;
  width: 200px;
  border-radius: 45px;
  font-size: x-large;
  border: 0;
  background-color: rgb(240, 145, 28);
  font-family: "Coming Soon";
  color: white;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.popup_inner {
  width: 300px;
  position: relative;
  top: 25%;
  margin: auto;
  background: white;
  padding: 30px;

  border-radius: 35px;
  background: linear-gradient(
    180deg,
    rgba(25, 114, 249, 1) 0%,
    rgba(36, 38, 41, 1) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 255, 0);
  border: 0;
  font-size: xx-large;
  font-family: Coming Soon;
  color: white;
}
